:root {
    --background-initial: #f1f5f8;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --clr-gray-1: #f8f8f8;
    --clr-gray-2: #888888;
    --clr-white: #fff;
    --clr-black: #000;
    --radius: 5px;
}

@media screen and (min-width: 800px) {
    h2, h3 {
        text-transform: capitalize;
        font-family: var(--ff-primary);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: white;
        padding: 10px;
    }
    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; /* Expand the .nav-center to fill the available space */
    }
    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .nav-links li a {
        text-decoration: none;
        color: white;
    }

    nav h2 {
        color: var(--clr-gray-2);
    }

    main {
        flex-grow: 1;
        height: 100vh;
    }
    .container {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .container h3 {
        background: var(--clr-black);
        color: var(--clr-white);
        padding: 2rem;
        border-radius: var(--radius);
    }

    .btn {
        color: var(--clr-white);
        background: var(--clr-black);
        padding: 1.2rem;
        border-radius: var(--radius);
        border: 1px solid white;
    }    
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--background-initial);
  color: var(--clr-gray-1);
  display: flex;
  flex-direction: column;
  height:100vh;
}

